In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/home/ec2-user/spark-2.4.4-bin-hadoop2.7/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
os.environ["SPARK_HOME"] = "/home/ec2-user/spark-2.4.4-bin-hadoop2.7"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

# Filter and Collect Operations

Lets create a spark session

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("DataframeFilers").getOrCreate()

Read data from the csv file

Dataset contains historical stock data from National Stock Exchange for Tata Steel

In [4]:
df = spark.read.csv('tatasteel_stock.csv', inferSchema=True, header=True)

In [5]:
df.show(5)

+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+
|   Symbol|Series|       Date|Prev Close|Open Price|High Price|Low Price|Last Price|Close Price|Average Price|Total Traded Quantity|      Turnover|No. of Trades|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+
|TATASTEEL|    E1|26-Mar-2019|     59.25|      59.2|      64.3|     59.2|      64.0|      63.75|        62.26|            1480106.0|  9.21574969E7|       6826.0|
|TATASTEEL|    EQ|26-Mar-2019|    515.15|     516.0|    520.95|   514.15|    519.55|     519.35|       517.48|            3329825.0|1.7231104723E9|      41880.0|
|TATASTEEL|    E1|27-Mar-2019|     63.75|     63.95|      67.2|    58.85|      60.0|       60.8|        62.94|            1891627.0| 1.190616721E8|       8117.0|
|TATASTEEL|    EQ|27-Mar-2019|    519.35|     520.0|     523.0|   513.05|     514.0|      515.8|       517.31|            5239158.0|2.7102444038E9|      75257.0|
|TATASTEEL|    E1|28-Mar-2019|      60.8|      61.0|      63.5|     57.6|      58.1|       58.4|        59.55|            1080005.0|   6.4314137E7|       4916.0|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+
only showing top 5 rows

In [6]:
df.columns

['Symbol',
 'Series',
 'Date',
 'Prev Close',
 'Open Price',
 'High Price',
 'Low Price',
 'Last Price',
 'Close Price',
 'Average Price',
 'Total Traded Quantity',
 'Turnover',
 'No. of Trades']

In [7]:
df.printSchema()

root
 |-- Symbol: string (nullable = true)
 |-- Series: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Prev Close: double (nullable = true)
 |-- Open Price: double (nullable = true)
 |-- High Price: double (nullable = true)
 |-- Low Price: double (nullable = true)
 |-- Last Price: double (nullable = true)
 |-- Close Price: double (nullable = true)
 |-- Average Price: double (nullable = true)
 |-- Total Traded Quantity: double (nullable = true)
 |-- Turnover: double (nullable = true)
 |-- No. of Trades: double (nullable = true)

### Data Dict 

The data is historic stock price data of tata steel. one row in the dataset is one day. 

Symbol = Name of the equity

Series = e1/et e1 is for part payment and eq is for equity

Date = The date on which the recod was made 

Prev Close = Closing price on the day earlier

Open Price = Opeing price on the 'date'

High Price = Highest price on the 'date'

Low Price = Lowest price on the 'date'

Last Price = most recent price on which the last trade of the 'date' happened

Close Price = closing price of the date

Average Price = average of closing prices over a specific period 

Total Traded Quantity = Number of equities traded in that day

Turnover = Monetary value of the traded equity 

No. of Trades = Total number of transactions

## Filtering Data

A large part of working with DataFrames is the ability to quickly filter out data based on conditions. Spark DataFrames quickly and easily grab that data using the DataFrame methods.

Using normal python comparison operators is another way to do this, except you need to make sure you are calling the column object within the dataframe, using the format: df["column name"]

In [8]:
df.filter(df['High Price'] > 500).show()

+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|   Symbol|Series|       Date|Prev Close|Open Price|High Price|Low Price|Last Price|Close Price|Average Price|Total Traded Quantity|       Turnover|No. of Trades|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|TATASTEEL|    EQ|26-Mar-2019|    515.15|     516.0|    520.95|   514.15|    519.55|     519.35|       517.48|            3329825.0| 1.7231104723E9|      41880.0|
|TATASTEEL|    EQ|27-Mar-2019|    519.35|     520.0|     523.0|   513.05|     514.0|      515.8|       517.31|            5239158.0| 2.7102444038E9|      75257.0|
|TATASTEEL|    EQ|28-Mar-2019|     515.8|     514.4|    516.45|    504.8|     505.0|      506.3|       508.59|            8965093.0| 4.5595291653E9|      81956.0|
|TATASTEEL|    EQ|29-Mar-2019|     506.3|     510.0|     525.0|   508.05|    520.65|      521.0|        519.0|          1.1965611E7|6.21011123975E9|     124103.0|
|TATASTEEL|    EQ|01-Apr-2019|     521.0|     530.0|     544.0|    528.1|     534.1|     535.15|       537.14|          1.3523554E7|7.26401451205E9|     155633.0|
|TATASTEEL|    EQ|02-Apr-2019|    535.15|     538.0|     538.0|   526.05|    532.75|     530.65|       530.72|            5086818.0| 2.6996641116E9|      63489.0|
|TATASTEEL|    EQ|03-Apr-2019|    530.65|     536.9|     547.6|   533.45|     534.5|     535.45|       541.17|           1.148968E7| 6.2178713384E9|     130492.0|
|TATASTEEL|    EQ|04-Apr-2019|    535.45|    532.75|     537.4|    526.5|     530.2|     530.65|       531.34|            5259917.0| 2.7948187316E9|      70618.0|
|TATASTEEL|    EQ|05-Apr-2019|    530.65|     531.2|     551.0|    531.2|     550.5|      549.3|       543.09|          1.0037713E7|5.45139930315E9|     143614.0|
|TATASTEEL|    EQ|08-Apr-2019|     549.3|     553.2|     557.0|    545.8|     548.0|     549.05|       551.18|          1.0600901E7|5.84304849495E9|     153043.0|
|TATASTEEL|    EQ|09-Apr-2019|    549.05|     551.0|     555.0|   540.25|     553.6|     553.05|       547.63|            6618936.0|3.62473684795E9|     107560.0|
|TATASTEEL|    EQ|10-Apr-2019|    553.05|    551.65|     559.4|    541.7|     544.1|      544.4|       552.42|            7889153.0|4.35813799305E9|     107377.0|
|TATASTEEL|    EQ|11-Apr-2019|     544.4|     541.0|     546.4|    533.5|    537.95|      535.7|       538.89|            6082398.0|3.27775608165E9|      65258.0|
|TATASTEEL|    EQ|12-Apr-2019|     535.7|     537.0|     542.7|    532.2|     534.0|     533.65|       535.66|            6274016.0| 3.3607499191E9|      78725.0|
|TATASTEEL|    EQ|15-Apr-2019|    533.65|     536.9|     555.0|   536.05|     554.0|     553.15|       548.81|          1.0390317E7| 5.7023067946E9|     122338.0|
|TATASTEEL|    EQ|16-Apr-2019|    553.15|    553.55|     556.9|   549.15|    553.25|     553.25|       553.45|            6323654.0| 3.4998386484E9|      93908.0|
|TATASTEEL|    EQ|18-Apr-2019|    553.25|     553.5|     554.5|    536.7|     542.6|      543.1|       544.02|            6660522.0|3.62343338565E9|      93931.0|
|TATASTEEL|    EQ|22-Apr-2019|     543.1|     540.0|    545.75|    533.1|     534.8|      534.2|       538.15|            3697686.0|1.98990342045E9|      49616.0|
|TATASTEEL|    EQ|23-Apr-2019|     534.2|    534.95|     538.5|    521.5|    522.95|     523.35|       528.68|            5119376.0|2.70652766115E9|      62141.0|
|TATASTEEL|    EQ|24-Apr-2019|    523.35|     526.9|    527.85|    512.7|     524.1|     525.25|       519.91|            8376835.0|4.35516835345E9|      98572.0|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
only showing top 20 rows

Logical operators 

& and

| or

~ not

In [9]:
df.filter((df['High Price'] > 500) & (df['Prev Close'] > 490)).show()

+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|   Symbol|Series|       Date|Prev Close|Open Price|High Price|Low Price|Last Price|Close Price|Average Price|Total Traded Quantity|       Turnover|No. of Trades|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|TATASTEEL|    EQ|26-Mar-2019|    515.15|     516.0|    520.95|   514.15|    519.55|     519.35|       517.48|            3329825.0| 1.7231104723E9|      41880.0|
|TATASTEEL|    EQ|27-Mar-2019|    519.35|     520.0|     523.0|   513.05|     514.0|      515.8|       517.31|            5239158.0| 2.7102444038E9|      75257.0|
|TATASTEEL|    EQ|28-Mar-2019|     515.8|     514.4|    516.45|    504.8|     505.0|      506.3|       508.59|            8965093.0| 4.5595291653E9|      81956.0|
|TATASTEEL|    EQ|29-Mar-2019|     506.3|     510.0|     525.0|   508.05|    520.65|      521.0|        519.0|          1.1965611E7|6.21011123975E9|     124103.0|
|TATASTEEL|    EQ|01-Apr-2019|     521.0|     530.0|     544.0|    528.1|     534.1|     535.15|       537.14|          1.3523554E7|7.26401451205E9|     155633.0|
|TATASTEEL|    EQ|02-Apr-2019|    535.15|     538.0|     538.0|   526.05|    532.75|     530.65|       530.72|            5086818.0| 2.6996641116E9|      63489.0|
|TATASTEEL|    EQ|03-Apr-2019|    530.65|     536.9|     547.6|   533.45|     534.5|     535.45|       541.17|           1.148968E7| 6.2178713384E9|     130492.0|
|TATASTEEL|    EQ|04-Apr-2019|    535.45|    532.75|     537.4|    526.5|     530.2|     530.65|       531.34|            5259917.0| 2.7948187316E9|      70618.0|
|TATASTEEL|    EQ|05-Apr-2019|    530.65|     531.2|     551.0|    531.2|     550.5|      549.3|       543.09|          1.0037713E7|5.45139930315E9|     143614.0|
|TATASTEEL|    EQ|08-Apr-2019|     549.3|     553.2|     557.0|    545.8|     548.0|     549.05|       551.18|          1.0600901E7|5.84304849495E9|     153043.0|
|TATASTEEL|    EQ|09-Apr-2019|    549.05|     551.0|     555.0|   540.25|     553.6|     553.05|       547.63|            6618936.0|3.62473684795E9|     107560.0|
|TATASTEEL|    EQ|10-Apr-2019|    553.05|    551.65|     559.4|    541.7|     544.1|      544.4|       552.42|            7889153.0|4.35813799305E9|     107377.0|
|TATASTEEL|    EQ|11-Apr-2019|     544.4|     541.0|     546.4|    533.5|    537.95|      535.7|       538.89|            6082398.0|3.27775608165E9|      65258.0|
|TATASTEEL|    EQ|12-Apr-2019|     535.7|     537.0|     542.7|    532.2|     534.0|     533.65|       535.66|            6274016.0| 3.3607499191E9|      78725.0|
|TATASTEEL|    EQ|15-Apr-2019|    533.65|     536.9|     555.0|   536.05|     554.0|     553.15|       548.81|          1.0390317E7| 5.7023067946E9|     122338.0|
|TATASTEEL|    EQ|16-Apr-2019|    553.15|    553.55|     556.9|   549.15|    553.25|     553.25|       553.45|            6323654.0| 3.4998386484E9|      93908.0|
|TATASTEEL|    EQ|18-Apr-2019|    553.25|     553.5|     554.5|    536.7|     542.6|      543.1|       544.02|            6660522.0|3.62343338565E9|      93931.0|
|TATASTEEL|    EQ|22-Apr-2019|     543.1|     540.0|    545.75|    533.1|     534.8|      534.2|       538.15|            3697686.0|1.98990342045E9|      49616.0|
|TATASTEEL|    EQ|23-Apr-2019|     534.2|    534.95|     538.5|    521.5|    522.95|     523.35|       528.68|            5119376.0|2.70652766115E9|      62141.0|
|TATASTEEL|    EQ|24-Apr-2019|    523.35|     526.9|    527.85|    512.7|     524.1|     525.25|       519.91|            8376835.0|4.35516835345E9|      98572.0|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
only showing top 20 rows

In [10]:
df.filter((df['High Price'] > 500) & ~(df['Prev Close'] > 490)).show()

+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|   Symbol|Series|       Date|Prev Close|Open Price|High Price|Low Price|Last Price|Close Price|Average Price|Total Traded Quantity|       Turnover|No. of Trades|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+
|TATASTEEL|    EQ|27-May-2019|    484.15|     484.5|     514.3|   483.55|    512.25|     512.55|       505.45|          1.8207705E7| 9.2031204486E9|     254636.0|
|TATASTEEL|    EQ|03-Jun-2019|     488.3|    488.95|    501.85|    485.1|     497.5|     497.65|        495.9|            8505392.0|4.21781532185E9|      99101.0|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+---------------+-------------+

In [11]:
df.filter(df['Open Price'] == 516).show()

+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+
|   Symbol|Series|       Date|Prev Close|Open Price|High Price|Low Price|Last Price|Close Price|Average Price|Total Traded Quantity|      Turnover|No. of Trades|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+
|TATASTEEL|    EQ|26-Mar-2019|    515.15|     516.0|    520.95|   514.15|    519.55|     519.35|       517.48|            3329825.0|1.7231104723E9|      41880.0|
+---------+------+-----------+----------+----------+----------+---------+----------+-----------+-------------+---------------------+--------------+-------------+

#### Collecting the data

In [12]:
df.filter((df['High Price'] > 500) & ~(df['Prev Close'] > 490)).collect()

[Row(Symbol='TATASTEEL', Series='EQ', Date='27-May-2019', Prev Close=484.15, Open Price=484.5, High Price=514.3, Low Price=483.55, Last Price=512.25, Close Price=512.55, Average Price=505.45, Total Traded Quantity=18207705.0, Turnover=9203120448.6, No. of Trades=254636.0),
 Row(Symbol='TATASTEEL', Series='EQ', Date='03-Jun-2019', Prev Close=488.3, Open Price=488.95, High Price=501.85, Low Price=485.1, Last Price=497.5, Close Price=497.65, Average Price=495.9, Total Traded Quantity=8505392.0, Turnover=4217815321.85, No. of Trades=99101.0)]

collect retuns nested row objects.

In [13]:
row_result = df.filter((df['High Price'] > 500) & ~(df['Prev Close'] > 490)).collect()

In [14]:
row_result

[Row(Symbol='TATASTEEL', Series='EQ', Date='27-May-2019', Prev Close=484.15, Open Price=484.5, High Price=514.3, Low Price=483.55, Last Price=512.25, Close Price=512.55, Average Price=505.45, Total Traded Quantity=18207705.0, Turnover=9203120448.6, No. of Trades=254636.0),
 Row(Symbol='TATASTEEL', Series='EQ', Date='03-Jun-2019', Prev Close=488.3, Open Price=488.95, High Price=501.85, Low Price=485.1, Last Price=497.5, Close Price=497.65, Average Price=495.9, Total Traded Quantity=8505392.0, Turnover=4217815321.85, No. of Trades=99101.0)]

In [15]:
type(row_result)

list

In [17]:
row1 = row_result[0]

In [20]:
row1

Row(Symbol='TATASTEEL', Series='EQ', Date='27-May-2019', Prev Close=484.15, Open Price=484.5, High Price=514.3, Low Price=483.55, Last Price=512.25, Close Price=512.55, Average Price=505.45, Total Traded Quantity=18207705.0, Turnover=9203120448.6, No. of Trades=254636.0)

Rows can be called to turn into dictionaries, to access individual values

In [18]:
newdict = row1.asDict()

In [19]:
newdict

{'Symbol': 'TATASTEEL',
 'Series': 'EQ',
 'Date': '27-May-2019',
 'Prev Close': 484.15,
 'Open Price': 484.5,
 'High Price': 514.3,
 'Low Price': 483.55,
 'Last Price': 512.25,
 'Close Price': 512.55,
 'Average Price': 505.45,
 'Total Traded Quantity': 18207705.0,
 'Turnover': 9203120448.6,
 'No. of Trades': 254636.0}

In [21]:
newdict['Date']

'27-May-2019'

In [22]:
newdict['High Price']

514.3

In [23]:
for item in row1:
    print(item)

TATASTEEL
EQ
27-May-2019
484.15
484.5
514.3
483.55
512.25
512.55
505.45
18207705.0
9203120448.6
254636.0